.form{
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 12vh;
    height: 100vh;
    gap: 70px;
    justify-items: center;
    align-items: center;
    .form {
      &__registration {
        align-self: center;
        margin-top: 10px;
      }
    }
  }
}

.icon {
  font-size: 25px;
  width: 25px;
  height: 25px;
}

.logo__wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}
