
<div class="form__wrapper">
  <form class="form" [formGroup]="form">
    <mat-form-field [appearance]="'outline'">
      <mat-label>
        Логин
      </mat-label>
      <input matInput [formControlName]="'login'">
      <app-error-text
        *ngIf = "form.invalid && form.controls['login'].touched && form.controls['login'].errors"
        [errors]="form.controls['login'].errors"
      ></app-error-text>
    </mat-form-field>

    <ng-container *ngTemplateOutlet="passwordTemplate; context: { $implicit: form.controls['password'], label: 'form.password'}"></ng-container>
    <ng-container *ngTemplateOutlet="passwordTemplate; context: { $implicit: form.controls['repeatPassword'], label:'form.repeatPassword'}"></ng-container>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled] = "!form.touched || form.invalid"
      (click) = "registrate()"
    >Зарегистрироваться</button>
    <a class="form__registration" routerLink="../login"> Войти </a>
  </form>
</div>

<ng-template #passwordTemplate let-control let-label = "label">
  <mat-form-field [appearance]="'outline'">
    <mat-label>
      {{label}}
    </mat-label>
    <input
      matInput
      [formControl]="control"
    >
    <app-error-text
      *ngIf = "form.invalid && control.touched && control.errors"
      [errors]="control.errors"
    ></app-error-text>
  </mat-form-field>
</ng-template>
