
<div class="form__wrapper">
  <img class="logo" src = "/assets/img/logo.png" width="200px" height="200px">
  <form class="form" [formGroup]="form">
    <mat-form-field [appearance]="'outline'">
      <mat-icon
        class="icon"
        svgIcon="profile"
      ></mat-icon>
      <mat-label>
        {{'form.controls.login' | translate}}
      </mat-label>
      <input matInput [formControlName]="'login'">
      <app-error-text
        *ngIf = "form.invalid && form.controls['login'].touched && form.controls['login'].errors"
        [errors]="form.controls['login'].errors"
      ></app-error-text>
    </mat-form-field>

    <ng-container *ngTemplateOutlet="passwordTemplate; context: { $implicit: form.controls['password'], label: 'form.controls.password'}"></ng-container>
    <ng-container *ngTemplateOutlet="passwordTemplate; context: { $implicit: form.controls['repeatPassword'], label:'form.controls.repeatPassword'}"></ng-container>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled] = "!form.touched || form.invalid"
      (click) = "registrate()"
    >{{'links.signUp' | translate}}</button>
    <a class="form__registration" routerLink="../login">{{'links.signIn' | translate}}</a>
  </form>
</div>

<ng-template #passwordTemplate let-control let-label = "label">
  <mat-form-field [appearance]="'outline'">
    <mat-icon
      class="icon"
      svgIcon="lock"
    ></mat-icon>
    <mat-label>
      {{label | translate}}
    </mat-label>
    <input
      matInput
      [formControl]="control"
    >
    <app-error-text
      *ngIf = "form.invalid && (!!control.value || control.touched) && control.errors"
      [errors]="control.errors"
    ></app-error-text>
  </mat-form-field>
</ng-template>
