.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  &__title{
    font-size: 24px;
    margin-top: 20px;
  }
  &__description{
    color: gray;
  }
  &__btn {
    margin-top: 20px;
  }
}
