
<div class="form__wrapper">
  <img class="logo" src = "/assets/img/logo.png" width="200px" height="200px">
  <form class="form" [formGroup]="form">
    <mat-form-field [appearance]="'outline'">
      <mat-label>
        {{'form.controls.login' | translate}}
      </mat-label>
      <mat-icon
        class="icon"
        svgIcon="profile"
      ></mat-icon>
      <input matInput [formControlName]="'login'">
      <app-error-text
        *ngIf = "form.invalid && form.controls['login'].touched && form.controls['login'].errors"
        [errors]="form.controls['login'].errors"
      ></app-error-text>
    </mat-form-field>
    <mat-form-field [appearance]="'outline'">
      <mat-icon
        class="icon"
        svgIcon="lock"
      ></mat-icon>
      <mat-label>
        {{'form.controls.password' | translate}}
      </mat-label>
      <input
        matInput
        [formControlName]="'password'"
        #passwordInput
      >
      <button
        mat-icon-button
        type="button"
        [matTooltip]="'tooltips.showPass' | translate"
        *ngLet="(passwordInput.type === 'text' ? 'password' : 'text') as alternativePassVisibility"
        (click)="passwordInput.type = alternativePassVisibility"
      >
        <mat-icon>{{alternativePassVisibility === 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
      <app-error-text
        *ngIf = "form.invalid && form.controls['password'].touched && form.controls['password'].errors"
        [errors]="form.controls['password'].errors"
      ></app-error-text>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled] = "!form.touched || form.invalid"
      (click) = "login()"
    >{{'links.signIn' | translate}}</button>
    <a class="form__registration" routerLink="../registration"> {{'links.registration' | translate}} </a>
  </form>
</div>
